body{
    background-color: lightgray;
}
.fa{
    color:rgb(65,131,215);
}
span{
    font-size: 12px;
}
.insidebox{
    background-color:whitesmoke;
    padding: 60px 10px;
    margin: 20px 0px;
}
a{
    border-bottom:  1px solid rgb(65,131,215);
}
.text{
    margin:10px 0px ;

}
 
.box{
    padding:60px 0px;
}